@keyframes rotateout {
  0% {
    transform: rotate(0) translateY(0);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(-180deg) translateY(-100px);
    transform-origin: bottom;
  }
}

@keyframes rotatein {
  0% {
    transform: rotate(180deg) translateY(-100px);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(0deg) translateY(0);
    transform-origin: bottom;
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-150px);
  }
}

@keyframes shownewcontentmodal
{
    0%
    {
        opacity: 0;
        transform: translateY(500px);
    }
    90%
    {
        opacity: 1;
        transform: translateY(-30px);
    }
    100%
    {
      opacity: 1;
      transform: translate(0px);
    }
}

@keyframes hidenewcontentmodal
{
  from
  {
    opacity: 1;
    transform: translate(0px);
  }
  to
  {
    opacity: 0;
    transform: translateY(500px);
  }
}

.rotateout
{
    animation: rotateout ease-in-out .5s;
}

.rotatein
{
    animation: rotatein ease-in-out .5s;
}

.slidedown {
  animation: slidedown 0.5s ease-in-out forwards;
}

.slideup
{
    animation: slideup 0.5s ease-in-out forwards;
}

.shownewcontentmodal
{
  animation: shownewcontentmodal .5s ease-in-out forwards;
}

.hidenewcontentmodal
{
  animation: hidenewcontentmodal .5s ease-in-out forwards;
}