@import url("main.css");

#searchbtn
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid var(--btn-border-color);
    border-radius: 50% 0% 50% 50%;
    background: var(--primary-color);
    left: 25px;
    bottom: 25px;
    transition: transform .5s;
    z-index: 9999;
}

#searchbar img
{
    left: 13px;
    top: 13px;
    position: absolute;
    margin: auto;
    width: 65px;
}

#searchbtn:hover
{
    box-shadow: var(--btn-border-color) 0px 0px 10px 2px;
    transform: scale(1.1);
}

#searchbarinputwrapper
{
    position: absolute;
    left: 25px;
    bottom: 25px;
    z-index: 999;
}

#searchbarinput
{
    border-radius: 50px;
    height: 100px;
    width: 500px;
    font-size: 2rem;
    padding-left: 110px;
    padding-right: 20px;
    border: 3px solid var(--btn-border-color);
    outline: none;
    background: var(--window-color);
    color: var(--text-color);
}

#sortbar
{
    border: 3px solid var(--btn-border-color);
    border-radius: 50px;
    position: absolute;
    width: 100px;
    height: 500px;
    left: 25px;
    bottom: 25px;
    z-index: 999;
    background: var(--window-color);
    overflow: hidden;
}

#sortby
{
    background: var(--primary-color);
    border: 3px solid var(--btn-border-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 425px;
    left: 25px;
    z-index: 9999;
}

#sortby h3
{
    position: absolute;
    bottom: 25%;
    left: 10%;
    margin: auto;
    padding: 0;
}

#sortbar ul
{
    padding: 0;
    padding-top: 100px;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
}

#sortbar > ul > li
{
    padding: 10px;
    cursor: pointer;
}

#sortbar > ul > li:hover
{
    transition: .25s;
    color: var(--btn-border-color);
    text-shadow: 0px 0px 5px var(--btn-border-color);
}

.selector
{
    text-shadow: 0px 0px 10px 10px var(--primary-color);
}

/* ---------- MOBILE SEARCHBAR ---------- */

#mobile-searchbtn
{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: 3px solid var(--btn-border-color);
    border-radius: 50%;
    background: var(--primary-color);
    transition: transform .5s;
    z-index: 9999;
}

#mobile-searchbar img
{
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
}

#mobile-searchbtn:hover
{
    box-shadow: var(--btn-border-color) 0px 0px 10px 2px;
    transform: scale(1.1);
}

#mobile-searchbarinput
{
    position: absolute;
    left: 20px;
    border-radius: 50px;
    height: 50px;
    width: 90%;
    font-size: 1rem;
    padding-left: 60px;
    padding-right: 20px;
    border: 3px solid var(--btn-border-color);
    outline: none;
    background: var(--window-color);
    color: var(--text-color);
}

@media only screen and (max-width: 600px)
{
    #searchbar
    {
        display: none;
    }
}

@media only screen and (min-width: 600px)
{
    #mobile-searchbar
    {
        display: none;
    }
}