@import url("main.css");

.hidden
{
    display: none;
}

.no-overflow
{
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--window-color);
    border-radius: 10px;
    border: 1px solid var(--box-border-color);
    border-left: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5901fe;
}