@import url("main.css");

.hidden
{
    display: none !important;
}

.no-overflow
{
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--window-color);
    border-radius: 10px;
    border: 1px solid var(--box-border-color);
    border-left: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5901fe;
}

.spacer-5
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.spacer-4
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacer-3
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacer-2
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacer-1
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.smallbtn
{
    border: 2px solid var(--box-border-color);
    border-radius: 5px;
    width: 80px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    transition: transform .25s;
    margin-bottom: 10px;
    display: block;
}

.smallbtn:hover
{
    transform: scale(1.1);
}

.smallbtn:active
{
    transform: scale(0.9);
}

.btn-red
{
    background: var(--btn-red-background);
}

.btn-green
{
    background: var(--btn-green-background);
}

.btn-blue
{
    background: var(--btn-blue-background);
}

.btn-purple
{
    background: var(--btn-purple-background);
}

.light-blur
{
    filter: blur(2px);
}

.medium-blur
{
    filter: blur(5px);
}

.heavy-blur
{
    filter: blur(10px);
}

.darken-background
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000A;
    display: grid;
    z-index: var(--overlays);
}

.icon-small
{
    width: 25px;
    height: 25px;
}

.icon-medium
{
    width: 50px;
    height: 50px;
}

.icon
{
    width: 80px;
}

.btn-active
{
    box-shadow: var(--btn-border-color) 0px 0px 10px 2px;
}

.remove-hover:hover
{
    color: var(--btn-red-background);
    transition: .25s;
    cursor: no-drop;
}